### Node.js (Frontend) ###
/frontend/node_modules
/node_modules
/build/
dist/
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

### Django (Backend) ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
/media/
staticfiles/

### Python ###
*.py[cod]
*$py.class
*.so

# Entorno virtual
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

### IDE/Editor ###
# PyCharm
.idea/
# VSCode
.vscode/
# Jupyter Notebook
.ipynb_checkpoints

### Sistema ###
.DS_Store
Thumbs.db

### Git ###
*.orig
*.swp

### Otros ###
# Archivos temporales y de cache
.cache
coverage/
*.cover
htmlcov/
.tox/
nox/

# Configuración de pruebas
.pytest_cache/
.hypothesis/

# Archivos de herramientas
.mypy_cache/
dmypy.json
.pyre/
.pytype/
cython_debug/

# Herramientas de despliegue
poetry.lock
pdm.lock
pyrightconfig.json
ruff_cache/
