@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f1f3f6; /* Color de fondo para el cuerpo */
    font-family: 'Roboto', sans-serif; /* Fuente principal */
}

/* Estilo para la flecha desplegable del menú de navegación */
.arrow_down {
  border-left: 11px solid transparent; /* Borde izquierdo transparente */
  border-right: 11px solid transparent; /* Borde derecho transparente */
  border-bottom: 11px solid #fff; /* Borde inferior con color blanco */
}

/* Imagen de fondo para el panel lateral de inicio de sesión/registro */
.loginSidebar {
    background-image: url("https://via.placeholder.com/300x600.png?text=Login+Sidebar"); /* URL de ejemplo para la imagen */
    background-position: center 85%; /* Posición centrada en el 85% vertical */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}
